.SmallButton {
    border: none;
    outline: none;
    background-color: #73B673;
    box-shadow: 0px 0px 0px 6px #072C0A;
    color: #557C4D;
    font-size: xx-large;
    border-bottom: solid 8px #538552;
    width: 65px;
    height: 65px;
    margin-right: 1.5%;
    margin-left: 1.5%;
    margin-top: 3%;
    position: relative;
}

.SmallButton:active {
    border-bottom-width: 3px;
    top: 3px;
  }

.BigButton {
    border: none;
    outline: none;
    background-color: #73B673;
    box-shadow: 0px 0px 0px 6px #072C0A;
    color: #557C4D;
    font-size: xx-large;
    border-bottom: solid 8px #538552;
    width: 145px;
    height: 65px;
    position: relative;
    margin-right: 1.5%;
    margin-left: 1.5%;
    margin-top: 3%;
}

.BigButton:active {
    border-bottom-width: 3px;
    top: 3px;
  }